
.address-details{
    // display: flex;
    margin-top:1em;
    
}
.shadow-box{
    padding:1em;
    box-shadow: 0 20px 20px -20px #333;
    border: 1px solid rgb(218, 217, 217);
}
.card-details{
    margin-top:1em;
}
.car{
   margin-top:3em;
}


/* Add application styles & imports to this file! */
.personal-details {
  margin-top: 3em;
}
.bounds {
    // background-color:#ddd;
    background-color: rgb(238, 238, 238);
    min-height: 100vh;;
    height :fit-content;
    max-width: 100vw;
  }
  
//   .sec1 {
//     background: red;
//     color:white;
//     text-transform: uppercase
//   }
  
  .sec2 {
    color: #4141ff;
    border: 15px solid rgb(214, 214, 214);
    height: fit-content;
    margin: 4em auto;
    border-radius: 10px 10px 0px 0px
    
  }
  .vehicle-card{
    margin: 2em;
  }
  
//   .sec3 {
//     background: blue;
//     color:white;
//     text-transform: uppercase
//   }
  
  .sec1, .sec2, .sec3 {
    // padding-top:20px;
    text-align:center
  }
  
  .content {
    min-width: 300px;
    /*height: 400px;*/
  }
  .mt-2{
    margin-top: 2em;
  }

  .button{
      color: white;
      font-size: large;
      background-color: #23189a;
      text-transform: uppercase;
  }
