<mat-toolbar>Customer On-boarding Form</mat-toolbar>

<div class="bounds">
  <div class="content" fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
    <div fxFlex="15" class="sec1" fxHide.xs>
    </div>
    <div class="sec2" fxFlex="70">
      <div class="container">
        <mat-horizontal-stepper labelPosition="bottom" linear #stepper>

          <mat-step [stepControl]="customerData">
            <ng-template matStepLabel>Personal Details</ng-template>
            <div fxLayout="column" [formGroup]="customerData">
              <div class="personal-details shadow-box">

                <h3>Personal Details</h3>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="2em" fxLayoutGap.lt-md="0.5em">
                  <mat-form-field class="input-field" fxFlex>
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="fName" required>
                  </mat-form-field>
                  <mat-form-field class="input-field" fxFlex>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last name" formControlName="lName" required>
                  </mat-form-field>
                </div>
              </div>
              <hr>
              <div class="address-details shadow-box" formGroupName="address">
                <h3>Address Details</h3>
                <div fxLayout="column">
                  <mat-form-field class="input-field" fxFlex>
                    <mat-label>House/ Building/ Street</mat-label>
                    <input matInput placeholder="House/ Building/ Street" formControlName="street" required>
                  </mat-form-field>
                  <mat-form-field class="input-field" fxFlex>
                    <mat-label>Area/ Locality</mat-label>
                    <input matInput placeholder="Area/ Locality" formControlName="area" required>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-xs="2em" fxLayoutGap.lt-md="0.5em">
                  <mat-form-field class="input-field" fxFlex>
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" formControlName="city" required>
                  </mat-form-field>
                  <mat-form-field class="input-field" fxFlex>
                    <mat-label>State</mat-label>
                    <input matInput placeholder="State" formControlName="state" required>
                  </mat-form-field>
                  <mat-form-field class="input-field" fxFlex>
                    <mat-label>ZIP</mat-label>
                    <input matInput placeholder="ZIP" formControlName="zip" required>
                  </mat-form-field>
                </div>
              </div>
              <hr>
              <div class="card-details shadow-box" formGroupName="cards">
                <h3>Credit Card Details</h3>
                <div fxLayout="row" fxLayout.md="column" fxLayout.lt-md="column">
                  <div class="form-section" fxFlex="50" fxLayout="column">
                    <mat-form-field class="input-field" fxFlex appearance="outline">
                      <mat-label>Card Number</mat-label>
                      <input matInput placeholder="Card Number" maxlength="16" formControlName="card_number" required>
                    </mat-form-field>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
                      <mat-form-field class="input-field" fxFlex="50" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" formControlName="card_fName" required>
                      </mat-form-field>
                      <mat-form-field class="input-field" fxFlex="50" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last name" formControlName="card_lName" required>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5em">
                      <mat-form-field class="input-field" fxFlex="33" appearance="outline">
                        <mat-label>Expiry Month</mat-label>
                        <input matInput placeholder="MM" maxlength="2" max="12" formControlName="card_mm" required>
                      </mat-form-field>
                      <mat-form-field class="input-field" fxFlex="33" appearance="outline">
                        <mat-label>Expiry Year</mat-label>
                        <input matInput placeholder="YYYY" maxlength="4" min="2020" formControlName="card_yyyy" required>
                      </mat-form-field>
                      <mat-form-field class="input-field" fxFlex="33" appearance="outline">
                        <mat-label>CVV</mat-label>
                        <input matInput placeholder="CVV" maxlength="3" formControlName="card_cvv" required>
                      </mat-form-field>
                      <!-- <mat-form-field class="input-field" fxFlex appearance="outline">
                          <mat-label>Expiry</mat-label>
                          <mat-select formControlName="card_mm" placeholder="Select month">
                            <mat-option *ngFor="let mm of months" [value]="mm">
                              {{mm}}
                            </mat-option>
                          </mat-select>
                          
                        </mat-form-field> -->
                    </div>
                  </div>
                  <div class="card-vis" fxFlex="50">
                    <app-credit-card-vis [cardDetails]="userCreditCards"  *ngIf="userCreditCards.card_number"></app-credit-card-vis>
                   
                  </div>
                </div>
              </div>
              <button class="mt-2" mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step [stepControl]="vehicleData">
            <ng-template matStepLabel>Vehicle Details</ng-template>
            <div class="vehicle-details" fxLayout="column" [formGroup]="vehicleData">
  
              <div formArrayName="vehicles">
                <div *ngFor="let cars of userCars.controls; let i= index">

                  <div class="car shadow-box" [formGroupName]="i">
                    <h3>Enter your vehicle details</h3>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2em" fxLayoutGap.lt-md="0.5em">
                      <mat-form-field class="input-field" appearance="outline" fxFlex>
                        <mat-label>Car Model</mat-label>
                        <input matInput placeholder="GT 70D, CLA 200S etc"  formControlName="model" required>
                      </mat-form-field>
                      <mat-form-field class="input-field" appearance="outline" fxFlex>
                        <mat-label>Car Make</mat-label>
                        <input matInput placeholder="Honda, BMW, etc."  formControlName="make" required>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2em" fxLayoutGap.lt-md="0.5em">
                      <mat-form-field class="input-field" appearance="outline" fxFlex>
                        <mat-label>Year of Purchase</mat-label>
                        <input matInput placeholder="1998, 2002 etc." maxlength="4" max="2020" formControlName="year" required>
                      </mat-form-field>
                      <mat-form-field class="input-field" appearance="outline" fxFlex>
                        <mat-label>Total Run</mat-label>
                        <input matInput placeholder="kilometeres completed" min="0" max="999999" formControlName="kms" required>
                      </mat-form-field>

                    
                    </div>
                    <button *ngIf="i" (click)="deleteVehicle(i)" mat-mini-fab color="warn" style="float:right"><mat-icon>delete_outline</mat-icon></button>
                   
                  </div>
                </div>
                <br> <br>
                <button mat-stroked-button color="primary" (click)="addNewVehicle()" style="position: relative;width: 100%; margin:10px auto">Add another Vehicle</button>
              </div>
              <div class="mt-2" fxLayout="row" fxLayoutGap="1em">
              <button  mat-raised-button color="accent" matStepperPrevious fxFlex>Back</button>
              <button  mat-raised-button color="primary" matStepperNext fxFlex>Next</button>

              </div>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Summary</ng-template>
            <div class="customer-summary shadow-box" fxLayout="column">
              <h1>Summary</h1>
            <fieldset class="customer-summary">
              <legend>&nbsp; Customer Summary &nbsp;</legend>
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex style="text-align:left; line-height: 2em;">
                   <h2>{{userDetails.fName}} {{userDetails.lName}}</h2>
                   <p>
                    {{userDetails.address.street}},
                     <br>
                     {{userDetails.address.area}} ,
                     <br>
                     {{userDetails.address.city}}, {{userDetails.address.state}}
                    <br>
                    ZIP: {{userDetails.address.zip}}
                   </p>
                </div>
                <div fxFlex style="opacity: 0.75;">
                  <app-credit-card-vis [cardDetails]="userCreditCards"  *ngIf="userCreditCards.card_number"></app-credit-card-vis>
              </div>
              </div>
            </fieldset>
            <fieldset class="vehicle-summary mt-2">
              <legend>&nbsp; Vehicle Summary &nbsp;</legend>
              <div fxLayout="row" fxLayout.xs="column" *ngFor="let cars of userCars.controls; let i= index">
               
                  <mat-card class="vehicle-card" fxFlex="100%">
                    <mat-card-header style="text-align: left;">
                      <mat-card-title>{{i+1}}.  {{userCars.controls[i].get('model').value}} </mat-card-title>
                      <mat-card-subtitle>Manufactured by {{userCars.controls[i].get('make').value}}</mat-card-subtitle>
                    </mat-card-header>
                  <mat-card-content fxLayout="row">
                    <div fxFlex="50">
                      <span class="material-icons">
                        schedule
                        </span>
                        <br>
                        <h3>{{userCars.controls[i].get('year').value}}</h3>
                      </div>
                    <div fxFlex="50">
                      <span class="material-icons">
                        add_road
                        </span>
                        <br>
                        <h3>{{userCars.controls[i].get('kms').value}} kms</h3>
                      </div>
                    </mat-card-content>
                  </mat-card>
               
              </div>
            </fieldset>
            <button class="mt-2" mat-raised-button color="accent" matStepperPrevious fxFlex>Back</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
    <div fxFlex="15" class="sec3" fxHide.xs>
      
    </div>

  </div>

</div> 